BOOTPROTO={{ item.value.method|lower }}
DEVICE={{ item.key }}
{% if item.value.method|lower == 'static' %}
{% if dns_nameservers is defined %}
{%   for ns in dns_nameservers %}
DNS{{ loop.index }}={{ ns }}
{%   endfor %}
{% endif %}
{%   if item.value.gateway is defined %}
GATEWAY={{ item.value.gateway }}
{%   endif %}
{%   if item.value.address is defined %}
IPADDR={{ item.value.address }}
{%   endif %}
{%   if item.value.netmask is defined %}
NETMASK={{ item.value.netmask }}
{%   endif %}
{% endif %}
{% if config_network_bonds %}
{%   if network_bonds is defined %}
{%     for bond_name, nb in network_bonds.values() %}
{%       for slave in nb.value.slaves %}
{%         if slave == item.key %}
MASTER={{ bond_name }}
SLAVE=yes
TYPE=Ethernet
{%         endif %}
{%       endfor %}
{%         if bond_name == item.key %}
BONDING_MASTER=yes
BONDING_OPTS={% for opt in nb['parameters'] %}{{ opt['param'] }}={{ opt['val'] }}{% if not loop.last %} {% endif %}{% endfor %}

TYPE=Bond
{%         endif %}
{%     endfor %}
{%   endif %}
{% endif %}
{% if config_network_bridges %}
{%   if network_bridges is defined %}
{%     for bridge_name, nbr in network_bridges.values() %}
{%       for port in nbr['ports'] %}
{%         if port == item.key %}
BRIDGE={{ bridge_name }}
DELAY=0
TYPE=Ethernet
{%         endif %}
{%       endfor %}
{%       if bridge_name == item.key %}
TYPE=Bridge
{%       endif %}
{%     endfor %}
{%   endif %}
{% endif %}
NAME={{ item.key }}
NETBOOT={{ item.value.netboot|default("yes") }}
ONBOOT={{ item.value.onboot|default("yes") }}
PEERDNS=yes
